body {
    color: grey;
    margin: 0;
    text-align: center;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    background-color: whitesmoke;
}

a {
    color: #11999E;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    margin: auto 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

h1 {
    margin: 50px auto 0 auto;
    width: 15%;
    font-size: 5.625rem;
    /* 100% = 16px =1em  90px= 562.5 = 5.62em , em and % is dyanamic*/
    /* anything not a full block element i.e in-line or a width is set,
     text-align will not work--tf->need to use marigin auto*/
    margin: 0 auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #35589A;
}

h2 {
    font-family: 'Comfortaa', Futura, sans-serif;
    font-size: 2.5rem;
    color: #EC255A;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Comfortaa', Futura, sans-serif;
    Color: #11999E;
}

hr {
    border: dotted #30268a 6px;
    border-bottom: none;
    width: 9%;
    margin: 100px auto;
    /* top bottom 100% left right auto */
}


/* use % for responsive scaling */

p {
    line-height: 2;
    /* !! this spreads the writing */
}


/* **************************************************** */

.top-container {
    background-color: #B1D0E0;
    padding-top: 100px;
    border-color: black;
    position: relative;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 70px;
    background-color: #B1D0E0;
}


/* **************************************************** */

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.bottom-cloud {
    position: absolute;
    left: 200px;
    bottom: 440px;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    /* 1rem = 16px; 0.75rem == 75% 1 rem*/
    padding: 20px 0;
}

.contact-me {
    margin-top: 50px;
    margin-bottom: 130px;
}

.contact-descrp {
    /* margin-top: 0px;
    margin-bottom: 60px; */
    width: 40%;
    margin: 40px auto 60px;
    /* top left-right bottom */
}

.copyright {
    color: #EAF6F6;
}

.code-icon {
    display: block;
    margin-left: auto;
    margin-right: 25px;
    width: 28%;
    /* !!this will float the picture to the left and writing will go to the right */
    float: left;
}


/* !!this is the opposite of float */


/* .code-skill-descr {
    clear: left;
} */

.csharp-icon {
    display: block;
    margin-left: 25px;
    margin-right: auto;
    width: 28%;
    float: right;
}


/* .csharp-description {
    clear: right; 
} */

.cursive {
    color: seagreen;
}

.footer-link {
    Color: #11999E;
}

.intro {
    width: 30%;
    margin: auto
    /* !! important as the intro is left aligned- use margin auto for when this happens*/
}

.profile {
    margin-bottom: 6%;
}

.profilePic {
    width: 200px;
}

.skills {
    margin-top: 6%;
}

.skill-row {
    /* display: inline-block; */
    margin: 100px auto 150px auto;
    width: 50%;
    text-align: left;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 70px;
}